<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--声明命名空间，命名空间是该mapper文件的唯一标识，在同一个项目中不能重复-->
<mapper namespace="org.example.withoutspring.mysql.UserMapper">
    <select id="selectAllUsers" resultType="org.example.withoutspring.mysql.User">
        select * from user
    </select>
</mapper>